<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/Week_05/Lecture_01/PostClass-CodeAlong_Validation_and_Scaling_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Validation and Scaling Challenge

In [ ]:
# import required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# The Data:

From [kaggle.com](https://www.kaggle.com/yasserh/wine-quality-dataset)

About this file
This data frame contains the following columns:

Input variables (based on physicochemical tests):\
1 - fixed acidity\
2 - volatile acidity\
3 - citric acid\
4 - residual sugar\
5 - chlorides\
6 - free sulfur dioxide\
7 - total sulfur dioxide\
8 - density\
9 - pH\
10 - sulphates\
11 - alcohol\
Output variable (based on sensory data):\
12 - quality (score between 0 and 10)

In [ ]:
#import the data
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Lectures - Live Class Materials/Stack 2/Week 5/WineQT.csv')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  Id
0            7.4              0.70         0.00  ...      9.4        5   0
1            7.8              0.88         0.00  ...      9.8        5   1
2            7.8              0.76         0.04  ...      9.8        5   2
3           11.2              0.28         0.56  ...      9.8        6   3
4            7.4              0.70         0.00  ...      9.4        5   4

[5 rows x 13 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

## Challenge 1. 

Split the data into X and y.  The 'quality' column is your target.

In [ ]:
X = df.drop(columns='quality')
y = df['quality']

## Challenge 2.

Perform a Validation Split, use 30% of the data for the test set (you may need to look up the documentation to find how to do this.)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.3)

## Challenge 3#

Standard Scale the values in X_train and y_train without leaking information from the test set into the training set.

Standard Scaler returns a numpy array.  You can convert it back to a dataframe by using pd.DataFrame(X_train) to see if the scaling worked.

In [ ]:
scaler = StandardScaler()

scaler.fit(X_train)

StandardScaler()

In [ ]:
X_train_transformed = scaler.transform(X_train)
X_test_transformed = scaler.transform(X_test)

In [ ]:
X_train_df = pd.DataFrame(X_train_transformed)

In [ ]:
X_train_df.head()

         0         1         2   ...        9         10        11
0  0.923730  2.534710  0.288499  ... -1.058428 -0.972536 -0.279755
1  0.449338 -0.447674  1.171197  ... -0.523306 -0.691219 -0.480796
2 -0.380848  5.910995 -1.373050  ... -1.534093  0.434048  1.035568
3 -0.736642 -1.741917  0.184653  ...  0.963147 -0.409902  0.701925
4 -0.618044  0.508940 -1.061509  ... -0.761138 -0.691219  0.103079

[5 rows x 12 columns]

In [ ]:
X_test_df = pd.DataFrame(X_test_transformed)

In [ ]:
X_test_df.head()

         0         1         2   ...        9         10        11
0 -0.855240  0.452668 -1.165356  ... -0.344931 -0.878764 -1.267850
1 -0.795941  1.746911 -0.282658  ...  0.368566 -1.128823  1.495396
2 -0.736642  0.283854 -0.749969  ... -1.058428  0.058959 -0.850797
3 -0.262250 -0.278860  2.157742  ...  2.390141 -1.253853 -0.130043
4  2.524803  0.396397  1.171197  ...  0.487482  1.371771 -0.639062

[5 rows x 12 columns]

In [ ]:
X_train_df.describe().round(2)

           0       1       2       3   ...      8       9       10      11
count  800.00  800.00  800.00  800.00  ...  800.00  800.00  800.00  800.00
mean     0.00    0.00   -0.00    0.00  ...    0.00   -0.00   -0.00   -0.00
std      1.00    1.00    1.00    1.00  ...    1.00    1.00    1.00    1.00
min     -2.16   -2.30   -1.37   -1.24  ...   -3.80   -1.59   -1.91   -1.74
25%     -0.68   -0.73   -0.91   -0.47  ...   -0.69   -0.64   -0.88   -0.87
50%     -0.20   -0.05   -0.07   -0.24  ...    0.03   -0.23   -0.22    0.00
75%      0.45    0.62    0.81    0.07  ...    0.56    0.43    0.62    0.88
max      4.36    5.91    3.82   10.04  ...    4.60    7.98    3.34    1.67

[8 rows x 12 columns]